html, body {
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	text-align : center;

}
canvas {
	border: 1px solid #ccc;
	display: block;
	margin: 20px auto;
}
#play, #pause{
	width : 120px;
	height : 50px;
	font-size: 30px;
}
#timer{
	color:white;
	font-size:40px;
}
#info{
	color:white;
	font-size: 18px;
}